
config option
	option enable '1'
	option plugin_redial '0'
	option debug '0'
	option client 'Drcom'

config scutclient
	option password 'Changeme'
	option username 'Changeme'
	
config drcom
	option hostname 'Lenovo-PC'
	option server_auth_ip '202.38.210.131'
	option version '4472434f4d0096022a'
	option hash '2ec15ad258aee9604b18f2f8114da38db16efd00'
